body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.instructions {
  margin: auto;
  margin-bottom: 20px;
  width: 480px;
}

.instructions h3 {
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #aaa;
}

.instructions ul {
  margin-left: 5px;
  padding-left: 20px;
  font-size: 0.8em;
  list-style-type: none;
  border: 2px solid #ddd;
}

.instructions ul li {
  margin: 5px 0;
  padding-left: 5px;
}

.top-buttons-container {
  display: flex;
  justify-content: space-around;
}

.button-01 {
  color: #333 !important;
  text-decoration: none;
  width: 120px;
  text-align: center;
  background: #ffffff;
  padding: 7px 10px;
  border: 3px solid #ddd !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin: 0 4px;
}

.button-01:hover {
  color: rgb(11, 176, 218) !important;
  border-radius: 50px;
  border-color:  rgb(11, 176, 218) !important;
  transition: all 0.3s ease 0s;
}

.button-01.active {
  color:  rgb(11, 176, 218) !important;
  border-radius: 50px;
  border-color:  rgb(11, 176, 218) !important;
}

.button-01.disabled {
  color: #ddd !important;
  border-color:  #eee !important;
  border-radius: 6px;
  cursor: not-allowed;
}

.grid {
  margin: 35px auto;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  margin: 1px;
  border: 2px solid #eee;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

.cell:hover {
  border-color: cyan;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}

.cell.wall {
  background-color: black;
}

.cell.path {
  background-color: blue;
  color: white;
  transition: background-color 1s ease 0s;
}